<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"2rem","bottom":"4rem"}}}} -->
<main class="wp-block-group" style="padding-top:2rem;padding-bottom:4rem">

	<!-- wp:pattern {"slug":"arw-pulse/breadcrumbs"} /-->

	<!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"var:preset|font-size|3xl"},"spacing":{"margin":{"bottom":"2rem"}}}} /-->

	<!-- wp:shortcode -->
	[arw_sitemap]
	<!-- /wp:shortcode -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
